body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#choices {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#choices button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

#choices button:hover {
  background-color: #3e8e41;
}

#choices button:active {
  background-color: #3e8e41;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
