body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#choices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

#choices button {
  background-color: #4caf50;
  color: #fff;
  padding: 1.5em 3em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 1.5em;
  font-size: 1.2em;
}

#choices button:hover {
  background-color: #3e8e41;
}

#choices button:active {
  background-color: #3e8e41;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 480px) {
  #choices button {
    padding: 2em 4em;
    font-size: 1.5em;
  }
}
